* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.board{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.card{
    border: 1px solid #000;
    margin: 10px 0; 
    padding: 5px; 
    width: 70%;
}

.card:nth-child(odd){
    background-color: wheat;
}
.card:nth-child(even){
    background-color: rgb(227, 159, 33);
}

.column{
    width: 30%;
    min-height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-bottom: 10px solid red;
}


.divCard{
    background-color: aquamarine;
    display: flex;
}

